@use 'base';

.Ingredient{
  height: 3em;
  width: 100%;
  margin-bottom: 5px;
  padding-top: 2%;
  border: lightslategray 1px solid;
  border-radius: base.$radius-5;
  &-name{
    width: 50%;
    text-wrap: normal;
    font-size: base.$text-size-small;
    font-weight: 600;
    color: black;
  }
  &-qty{
    width: 50%;
    font-size: base.$text-size-small;
    font-weight: 500;
    color: #2f2f2f;
    text-align: right;
  }
}